.icon-arrow:before {
  content: "\e902";
}
.icon-date:before {
  content: "\e903";
}
.icon-hour:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}