/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lexend:wght@100..900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lexend:wght@100..900&family=Roboto:wght@100&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* line 6, ../scss/config/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/config/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
/* line 31, ../scss/config/_reset.scss */
*[hidden] {
  display: none;
}

/* line 34, ../scss/config/_reset.scss */
body {
  line-height: 1.5;
}

/* line 37, ../scss/config/_reset.scss */
menu, ol, ul {
  list-style: none;
}

/* line 40, ../scss/config/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../scss/config/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../scss/config/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../scss/config/_reset.scss */
hr {
  border-top: 1px solid #f2f2f2;
}

@font-face {
  font-family: 'iconFont';
  src: url("../fonts/iconFont/iconFont.eot?xtgyxb");
  src: url("../fonts/iconFont/iconFont.eot?xtgyxb#iefix") format("embedded-opentype"), url("../fonts/iconFont/iconFont.ttf?xtgyxb") format("truetype"), url("../fonts/iconFont/iconFont.woff?xtgyxb") format("woff"), url("../fonts/iconFont/iconFont.svg?xtgyxb#iconFont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* line 29, ../scss/config/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, ../scss/config/_extends.scss */
.button {
  box-shadow: none;
  cursor: pointer;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 auto;
  padding: .5rem 2rem;
  text-align: center;
  line-height: 2.8rem;
}
@media (min-width: 960px) {
  /* line 1, ../scss/config/_extends.scss */
  .button {
    padding: 1.3rem 1.9rem;
    font-size: 1.8rem;
  }
}

/* line 19, ../scss/config/_extends.scss */
a {
  background: transparent;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  outline: 0;
  padding: 0;
  position: relative;
}
/* line 27, ../scss/config/_extends.scss */
a::before {
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 33, ../scss/config/_extends.scss */
a span {
  font-size: 1rem;
  margin-left: .6rem;
  vertical-align: middle;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 41, ../scss/config/_extends.scss */
a:hover {
  opacity: 1;
}
/* line 43, ../scss/config/_extends.scss */
a:hover span {
  margin-left: 1.6rem;
}
/* line 46, ../scss/config/_extends.scss */
a:hover::before {
  content: '';
  background-color: #26A0C4;
  bottom: -.1rem;
  display: block;
  height: 1px;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 82%;
}

/* line 60, ../scss/config/_extends.scss */
h1, h2, h3, h4, h5, h6, .appointment__title, .userzone__title {
  color: #17718C;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

/* line 66, ../scss/config/_extends.scss */
.appointment__subtitle, .userzone__subtitle {
  color: #17718C;
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

/* line 73, ../scss/config/_extends.scss */
.appointment p, .userzone p {
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (min-width: 720px) {
  /* line 81, ../scss/config/_extends.scss */
  h1, h2, h3, h4, h5, h6, .appointment__title, .userzone__title {
    font-size: 3.6rem;
  }

  /* line 84, ../scss/config/_extends.scss */
  .button {
    padding: .8rem;
  }
}
@media (min-width: 1140px) {
  /* line 89, ../scss/config/_extends.scss */
  a {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
/* line 1, ../scss/config/_base.scss */
*,
*:before, *:after {
  box-sizing: border-box;
}

/* line 6, ../scss/config/_base.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../scss/config/_base.scss */
body {
  background: #F4F4F4;
  font-family: "Ubuntu", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* line 20, ../scss/config/_base.scss */
.hidden-text {
  display: none;
}

/* line 4, ../scss/config/_flexbox.scss */
.d-flex {
  display: flex;
}

/* line 4, ../scss/config/_flexbox.scss */
.d-inline-flex {
  display: inline-flex;
}

/* line 4, ../scss/config/_flexbox.scss */
.d-block {
  display: block;
}

/* line 4, ../scss/config/_flexbox.scss */
.d-inline-block {
  display: inline-block;
}

/* line 4, ../scss/config/_flexbox.scss */
.d-grid {
  display: grid;
}

/* line 4, ../scss/config/_flexbox.scss */
.d-none {
  display: none;
}

/* line 12, ../scss/config/_flexbox.scss */
.fd-row {
  flex-direction: row;
}

/* line 12, ../scss/config/_flexbox.scss */
.fd-row-reverse {
  flex-direction: row-reverse;
}

/* line 12, ../scss/config/_flexbox.scss */
.fd-column {
  flex-direction: column;
}

/* line 12, ../scss/config/_flexbox.scss */
.fd-column-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 540px) {
  /* line 21, ../scss/config/_flexbox.scss */
  .d-sm-flex {
    display: flex;
  }

  /* line 21, ../scss/config/_flexbox.scss */
  .d-sm-block {
    display: block;
  }

  /* line 21, ../scss/config/_flexbox.scss */
  .d-sm-grid {
    display: grid;
  }

  /* line 21, ../scss/config/_flexbox.scss */
  .d-sm-none {
    display: none;
  }

  /* line 21, ../scss/config/_flexbox.scss */
  .d-sm-inline-block {
    display: inline-block;
  }

  /* line 28, ../scss/config/_flexbox.scss */
  .fd-sm-row {
    flex-direction: row;
  }

  /* line 28, ../scss/config/_flexbox.scss */
  .fd-sm-row-reverse {
    flex-direction: row-reverse;
  }

  /* line 28, ../scss/config/_flexbox.scss */
  .fd-sm-column {
    flex-direction: column;
  }

  /* line 28, ../scss/config/_flexbox.scss */
  .fd-sm-column-reverse {
    flex-direction: column-reverse;
  }
}
@media (min-width: 720px) {
  /* line 38, ../scss/config/_flexbox.scss */
  .d-md-flex {
    display: flex;
  }

  /* line 38, ../scss/config/_flexbox.scss */
  .d-md-block {
    display: block;
  }

  /* line 38, ../scss/config/_flexbox.scss */
  .d-md-grid {
    display: grid;
  }

  /* line 38, ../scss/config/_flexbox.scss */
  .d-md-none {
    display: none;
  }

  /* line 38, ../scss/config/_flexbox.scss */
  .d-md-inline-block {
    display: inline-block;
  }

  /* line 45, ../scss/config/_flexbox.scss */
  .fd-md-row {
    flex-direction: row;
  }

  /* line 45, ../scss/config/_flexbox.scss */
  .fd-md-row-reverse {
    flex-direction: row-reverse;
  }

  /* line 45, ../scss/config/_flexbox.scss */
  .fd-md-column {
    flex-direction: column;
  }

  /* line 45, ../scss/config/_flexbox.scss */
  .fd-md-column-reverse {
    flex-direction: column-reverse;
  }
}
@media (min-width: 960px) {
  /* line 55, ../scss/config/_flexbox.scss */
  .d-lg-flex {
    display: flex;
  }

  /* line 55, ../scss/config/_flexbox.scss */
  .d-lg-block {
    display: block;
  }

  /* line 55, ../scss/config/_flexbox.scss */
  .d-lg-grid {
    display: grid;
  }

  /* line 55, ../scss/config/_flexbox.scss */
  .d-lg-none {
    display: none;
  }

  /* line 55, ../scss/config/_flexbox.scss */
  .d-lg-inline-block {
    display: inline-block;
  }

  /* line 62, ../scss/config/_flexbox.scss */
  .fd-lg-row {
    flex-direction: row;
  }

  /* line 62, ../scss/config/_flexbox.scss */
  .fd-lg-row-reverse {
    flex-direction: row-reverse;
  }

  /* line 62, ../scss/config/_flexbox.scss */
  .fd-lg-column {
    flex-direction: column;
  }

  /* line 62, ../scss/config/_flexbox.scss */
  .fd-lg-column-reverse {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1140px) {
  /* line 72, ../scss/config/_flexbox.scss */
  .d-xl-flex {
    display: flex;
  }

  /* line 72, ../scss/config/_flexbox.scss */
  .d-xl-block {
    display: block;
  }

  /* line 72, ../scss/config/_flexbox.scss */
  .d-xl-grid {
    display: grid;
  }

  /* line 72, ../scss/config/_flexbox.scss */
  .d-xl-none {
    display: none;
  }

  /* line 72, ../scss/config/_flexbox.scss */
  .d-xl-inline-block {
    display: inline-block;
  }

  /* line 79, ../scss/config/_flexbox.scss */
  .fd-xl-row {
    flex-direction: row;
  }

  /* line 79, ../scss/config/_flexbox.scss */
  .fd-xl-row-reverse {
    flex-direction: row-reverse;
  }

  /* line 79, ../scss/config/_flexbox.scss */
  .fd-xl-column {
    flex-direction: column;
  }

  /* line 79, ../scss/config/_flexbox.scss */
  .fd-xl-column-reverse {
    flex-direction: column-reverse;
  }
}
/* line 88, ../scss/config/_flexbox.scss */
.jc-flex-start {
  justify-content: flex-start;
}

/* line 88, ../scss/config/_flexbox.scss */
.jc-flex-end {
  justify-content: flex-end;
}

/* line 88, ../scss/config/_flexbox.scss */
.jc-center {
  justify-content: center;
}

/* line 88, ../scss/config/_flexbox.scss */
.jc-space-between {
  justify-content: space-between;
}

/* line 88, ../scss/config/_flexbox.scss */
.jc-space-around {
  justify-content: space-around;
}

/* line 88, ../scss/config/_flexbox.scss */
.jc-space-evenly {
  justify-content: space-evenly;
}

/* line 96, ../scss/config/_flexbox.scss */
.ai-flex-start {
  align-items: flex-start;
}

/* line 96, ../scss/config/_flexbox.scss */
.ai-flex-end {
  align-items: flex-end;
}

/* line 96, ../scss/config/_flexbox.scss */
.ai-center {
  align-items: center;
}

/* line 96, ../scss/config/_flexbox.scss */
.ai-baseline {
  align-items: baseline;
}

/* line 96, ../scss/config/_flexbox.scss */
.ai-stretch {
  align-items: stretch;
}

/* line 104, ../scss/config/_flexbox.scss */
.ac-flex-start {
  align-content: flex-start;
}

/* line 104, ../scss/config/_flexbox.scss */
.ac-flex-end {
  align-content: flex-end;
}

/* line 104, ../scss/config/_flexbox.scss */
.ac-center {
  align-content: center;
}

/* line 104, ../scss/config/_flexbox.scss */
.ac-space-between {
  align-content: space-between;
}

/* line 104, ../scss/config/_flexbox.scss */
.ac-space-around {
  align-content: space-around;
}

/* line 104, ../scss/config/_flexbox.scss */
.ac-stretch {
  align-content: stretch;
}

/* line 112, ../scss/config/_flexbox.scss */
.as-flex-start {
  align-self: flex-start;
}

/* line 112, ../scss/config/_flexbox.scss */
.as-flex-end {
  align-self: flex-end;
}

/* line 112, ../scss/config/_flexbox.scss */
.as-center {
  align-self: center;
}

/* line 112, ../scss/config/_flexbox.scss */
.as-baseline {
  align-self: baseline;
}

/* line 112, ../scss/config/_flexbox.scss */
.as-stretch {
  align-self: stretch;
}

/* line 1, ../scss/config/_grid.scss */
.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 539px) {
  /* line 1, ../scss/config/_grid.scss */
  .grid {
    grid-gap: 0;
  }
}
/* line 6, ../scss/config/_grid.scss */
.grid__item {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* line 14, ../scss/config/_grid.scss */
.grid-1 {
  grid-column: span 1;
}

/* line 14, ../scss/config/_grid.scss */
.grid-2 {
  grid-column: span 2;
}

/* line 14, ../scss/config/_grid.scss */
.grid-3 {
  grid-column: span 3;
}

/* line 14, ../scss/config/_grid.scss */
.grid-4 {
  grid-column: span 4;
}

/* line 14, ../scss/config/_grid.scss */
.grid-5 {
  grid-column: span 5;
}

/* line 14, ../scss/config/_grid.scss */
.grid-6 {
  grid-column: span 6;
}

/* line 14, ../scss/config/_grid.scss */
.grid-7 {
  grid-column: span 7;
}

/* line 14, ../scss/config/_grid.scss */
.grid-8 {
  grid-column: span 8;
}

/* line 14, ../scss/config/_grid.scss */
.grid-9 {
  grid-column: span 9;
}

/* line 14, ../scss/config/_grid.scss */
.grid-10 {
  grid-column: span 10;
}

/* line 14, ../scss/config/_grid.scss */
.grid-11 {
  grid-column: span 11;
}

/* line 14, ../scss/config/_grid.scss */
.grid-12 {
  grid-column: span 12;
}

@media (min-width: 540px) {
  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-1 {
    grid-column: span 1;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-2 {
    grid-column: span 2;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-3 {
    grid-column: span 3;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-4 {
    grid-column: span 4;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-5 {
    grid-column: span 5;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-6 {
    grid-column: span 6;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-7 {
    grid-column: span 7;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-8 {
    grid-column: span 8;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-9 {
    grid-column: span 9;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-10 {
    grid-column: span 10;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-11 {
    grid-column: span 11;
  }

  /* line 21, ../scss/config/_grid.scss */
  .grid-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 720px) {
  /* line 29, ../scss/config/_grid.scss */
  .grid-md-1 {
    grid-column: span 1;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-2 {
    grid-column: span 2;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-3 {
    grid-column: span 3;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-4 {
    grid-column: span 4;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-5 {
    grid-column: span 5;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-6 {
    grid-column: span 6;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-7 {
    grid-column: span 7;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-8 {
    grid-column: span 8;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-9 {
    grid-column: span 9;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-10 {
    grid-column: span 10;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-11 {
    grid-column: span 11;
  }

  /* line 29, ../scss/config/_grid.scss */
  .grid-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 960px) {
  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-1 {
    grid-column: span 1;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-2 {
    grid-column: span 2;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-3 {
    grid-column: span 3;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-4 {
    grid-column: span 4;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-5 {
    grid-column: span 5;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-6 {
    grid-column: span 6;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-7 {
    grid-column: span 7;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-8 {
    grid-column: span 8;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-9 {
    grid-column: span 9;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-10 {
    grid-column: span 10;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-11 {
    grid-column: span 11;
  }

  /* line 37, ../scss/config/_grid.scss */
  .grid-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1140px) {
  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-1 {
    grid-column: span 1;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-2 {
    grid-column: span 2;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-3 {
    grid-column: span 3;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-4 {
    grid-column: span 4;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-5 {
    grid-column: span 5;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-6 {
    grid-column: span 6;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-7 {
    grid-column: span 7;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-8 {
    grid-column: span 8;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-9 {
    grid-column: span 9;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-10 {
    grid-column: span 10;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-11 {
    grid-column: span 11;
  }

  /* line 45, ../scss/config/_grid.scss */
  .grid-xl-12 {
    grid-column: span 12;
  }
}
/* line 1, ../scss/atoms/_buttons.scss */
.button {
  box-shadow: none;
  position: relative;
  text-decoration: none;
  z-index: 9;
}

/* line 8, ../scss/atoms/_buttons.scss */
.at-btn__primary {
  border: 0.1rem solid;
  border-radius: 0.5rem;
  color: #ffffff;
  background: #26A0C4;
  box-shadow: none;
  overflow: hidden;
  padding: 0.5rem 1.9rem;
  position: relative;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
}
/* line 95, ../scss/config/_mixins.scss */
.at-btn__primary:hover {
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 100, ../scss/config/_mixins.scss */
.at-btn__primary:focus {
  outline: 0;
  text-decoration: none;
}
/* line 110, ../scss/config/_mixins.scss */
.at-btn__primary.disabled, .at-btn__primary:disabled {
  opacity: 0.55;
  color: #ffffff;
  box-shadow: none;
  cursor: auto;
}
/* line 116, ../scss/config/_mixins.scss */
.at-btn__primary.disabled:hover, .at-btn__primary:disabled:hover {
  background: #26A0C4;
}
/* line 119, ../scss/config/_mixins.scss */
.at-btn__primary.disabled:focus, .at-btn__primary:disabled:focus {
  box-shadow: none;
}
/* line 15, ../scss/atoms/_buttons.scss */
.at-btn__primary:active {
  background: #0B4151;
  color: white;
  transform: translateY(3px);
}
/* line 20, ../scss/atoms/_buttons.scss */
.at-btn__primary:hover {
  background: #0B4151;
  color: white;
}
/* line 26, ../scss/atoms/_buttons.scss */
.at-btn__primary:hover::before {
  opacity: 0;
}
/* line 29, ../scss/atoms/_buttons.scss */
.at-btn__primary::after {
  content: "";
  background-color: #0B4151;
  border-color: transparent;
  border-radius: 5px;
  height: 200px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  transform: translate(-10px, -70px) scale(0.1);
  top: -12px;
  width: 110%;
  z-index: -1;
}
/* line 45, ../scss/atoms/_buttons.scss */
.at-btn__primary:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}

/* line 52, ../scss/atoms/_buttons.scss */
.at-btn__secondary {
  border: 0.1rem solid;
  border-radius: 0.5rem;
  color: #ffffff;
  background: #7CAA5A;
  border: none;
  padding: 0.8rem 2.9rem;
}
/* line 95, ../scss/config/_mixins.scss */
.at-btn__secondary:hover {
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 100, ../scss/config/_mixins.scss */
.at-btn__secondary:focus {
  outline: 0;
  text-decoration: none;
}
/* line 110, ../scss/config/_mixins.scss */
.at-btn__secondary.disabled, .at-btn__secondary:disabled {
  opacity: 0.55;
  color: #ffffff;
  box-shadow: none;
  cursor: auto;
}
/* line 116, ../scss/config/_mixins.scss */
.at-btn__secondary.disabled:hover, .at-btn__secondary:disabled:hover {
  background: #7CAA5A;
}
/* line 119, ../scss/config/_mixins.scss */
.at-btn__secondary.disabled:focus, .at-btn__secondary:disabled:focus {
  box-shadow: none;
}
/* line 56, ../scss/atoms/_buttons.scss */
.at-btn__secondary:hover, .at-btn__secondary:focus {
  background-color: #4C7F2E;
  color: mat-color(grayscale, white);
}

/* line 61, ../scss/atoms/_buttons.scss */
.at-btn__default {
  border: 0.1rem solid;
  border-radius: 0.5rem;
  color: #4F4F4F;
  background: #D3D3D3;
  border: none;
  padding: 0.8rem 2.9rem;
}
/* line 95, ../scss/config/_mixins.scss */
.at-btn__default:hover {
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 100, ../scss/config/_mixins.scss */
.at-btn__default:focus {
  outline: 0;
  text-decoration: none;
}
/* line 110, ../scss/config/_mixins.scss */
.at-btn__default.disabled, .at-btn__default:disabled {
  opacity: 0.55;
  color: #4F4F4F;
  box-shadow: none;
  cursor: auto;
}
/* line 116, ../scss/config/_mixins.scss */
.at-btn__default.disabled:hover, .at-btn__default:disabled:hover {
  background: #D3D3D3;
}
/* line 119, ../scss/config/_mixins.scss */
.at-btn__default.disabled:focus, .at-btn__default:disabled:focus {
  box-shadow: none;
}

/* line 4, ../scss/atoms/_headings.scss */
h1 {
  font-size: 3.2rem;
  line-height: 4rem;
}
@media (min-width: 720px) {
  /* line 4, ../scss/atoms/_headings.scss */
  h1 {
    font-size: 3.6rem;
    line-height: 4.1rem;
  }
}
@media (min-width: 1140px) {
  /* line 4, ../scss/atoms/_headings.scss */
  h1 {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
}

/* line 13, ../scss/atoms/_headings.scss */
h2 {
  font-size: 2rem;
  line-height: 3.2rem;
}
@media (min-width: 720px) {
  /* line 13, ../scss/atoms/_headings.scss */
  h2 {
    font-size: 2.8rem;
    line-height: 5.6rem;
  }
}
@media (min-width: 1140px) {
  /* line 13, ../scss/atoms/_headings.scss */
  h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
}

/* line 22, ../scss/atoms/_headings.scss */
h3 {
  font-size: 2rem;
  line-height: 2.6rem;
}
@media (min-width: 720px) {
  /* line 22, ../scss/atoms/_headings.scss */
  h3 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 1140px) {
  /* line 22, ../scss/atoms/_headings.scss */
  h3 {
    font-size: 3.2rem;
    line-height: 4.1rem;
  }
}

/* line 31, ../scss/atoms/_headings.scss */
h4 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
@media (min-width: 1140px) {
  /* line 31, ../scss/atoms/_headings.scss */
  h4 {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

/* line 1, ../scss/atoms/_icons.scss */
.icon-arrow:before {
  content: "\e902";
}

/* line 4, ../scss/atoms/_icons.scss */
.icon-date:before {
  content: "\e903";
}

/* line 7, ../scss/atoms/_icons.scss */
.icon-hour:before {
  content: "\e904";
}

/* line 10, ../scss/atoms/_icons.scss */
.icon-menu:before {
  content: "\e905";
}

/* line 13, ../scss/atoms/_icons.scss */
.icon-close:before {
  content: "\e906";
}

/* line 16, ../scss/atoms/_icons.scss */
.icon-facebook:before {
  content: "\e900";
}

/* line 19, ../scss/atoms/_icons.scss */
.icon-instagram:before {
  content: "\e901";
}

/* line 1, ../scss/atoms/_list.scss */
ul {
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  list-style: none;
  margin-left: 0;
}
/* line 6, ../scss/atoms/_list.scss */
ul li {
  padding: 0;
}

/* line 10, ../scss/atoms/_list.scss */
ol {
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  list-style: decimal;
  margin-left: 2rem;
}
/* line 15, ../scss/atoms/_list.scss */
ol li {
  padding-bottom: 1rem;
}

/* line 4, ../scss/atoms/_links.scss */
.at-link {
  color: #0B4151;
  text-decoration: none;
  transition: .3s;
}
/* line 212, ../scss/config/_mixins.scss */
.at-link:hover, .at-link:focus {
  color: #ffffff;
}
/* line 8, ../scss/atoms/_links.scss */
.at-link:hover {
  background: #26A0C4;
  text-decoration: none;
  transition: .3s;
}

/* line 1, ../scss/atoms/_container.scss */
.container {
  width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 11, ../scss/atoms/_container.scss */
.container.full {
  padding: 0;
}
@media (min-width: 960px) {
  /* line 11, ../scss/atoms/_container.scss */
  .container.full {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 720px) {
  /* line 1, ../scss/atoms/_container.scss */
  .container {
    max-width: 860px;
  }
}
@media (min-width: 960px) {
  /* line 1, ../scss/atoms/_container.scss */
  .container {
    max-width: 1136px;
  }
}
@media (min-width: 1140px) {
  /* line 1, ../scss/atoms/_container.scss */
  .container {
    max-width: 1440px;
  }
}

/* line 1, ../scss/components/_card.scss */
.appointment, .userzone {
  background: #F4F4F4;
  padding-bottom: 5.5rem;
  padding-top: 11.5rem;
}
/* line 5, ../scss/components/_card.scss */
.appointment__card, .userzone__card {
  background: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(189, 176, 176, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 2rem;
  margin: 0 0 3rem;
  padding: 3.5rem;
}
/* line 18, ../scss/components/_card.scss */
.appointment img, .userzone img {
  height: auto;
  width: 83px;
}
/* line 22, ../scss/components/_card.scss */
.appointment__doctor, .appointment__data, .appointment__date, .appointment__hour, .userzone__doctor, .userzone__data, .userzone__date, .userzone__hour {
  display: flex;
  flex-direction: row;
}
/* line 26, ../scss/components/_card.scss */
.appointment__date, .appointment__hour, .userzone__date, .userzone__hour {
  align-items: center;
}
/* line 35, ../scss/components/_card.scss */
.appointment__title, .userzone__title {
  margin-bottom: 3.3rem;
  margin-top: 3.4rem;
  text-align: center;
}
/* line 41, ../scss/components/_card.scss */
.appointment__grid, .userzone__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
/* line 47, ../scss/components/_card.scss */
.appointment__name, .userzone__name {
  margin-left: 1.1rem;
}
/* line 50, ../scss/components/_card.scss */
.appointment__info, .userzone__info {
  margin: 1.2rem 0;
}
/* line 53, ../scss/components/_card.scss */
.appointment .icon, .userzone .icon {
  font-size: 1.4rem;
}
/* line 56, ../scss/components/_card.scss */
.appointment__item, .userzone__item {
  margin: 2rem 0;
}
/* line 59, ../scss/components/_card.scss */
.appointment__data, .userzone__data {
  justify-content: space-between;
}

@media (min-width: 960px) {
  /* line 65, ../scss/components/_card.scss */
  .appointment__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1140px) {
  /* line 75, ../scss/components/_card.scss */
  .appointment .container, .userzone .container {
    max-width: 1080px;
  }
}
/* line 2, ../scss/components/_user-zone.scss */
.userzone__item {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px;
  width: 100%;
}
/* line 8, ../scss/components/_user-zone.scss */
.userzone input, .userzone select {
  border-radius: 20px;
  border: 1px solid #0B4151;
  color: #0B4151;
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  height: 60px;
  padding: 0 10px;
}
/* line 18, ../scss/components/_user-zone.scss */
.userzone .form-control {
  align-items: center;
  display: flex;
  flex-direction: row;
}
/* line 22, ../scss/components/_user-zone.scss */
.userzone .form-control input {
  border-radius: 0 20px 20px 0;
  margin-top: 6px;
}
/* line 27, ../scss/components/_user-zone.scss */
.userzone label {
  color: #0B4151;
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
/* line 34, ../scss/components/_user-zone.scss */
.userzone select {
  border-radius: 20px 0 0 20px;
}
/* line 37, ../scss/components/_user-zone.scss */
.userzone button {
  margin-top: 4.8rem;
}

@media (min-width: 960px) {
  /* line 43, ../scss/components/_user-zone.scss */
  .userzone__group {
    display: flex;
    justify-content: space-between;
  }
  /* line 47, ../scss/components/_user-zone.scss */
  .userzone form {
    margin: 0 auto;
    max-width: 690px;
  }
  /* line 51, ../scss/components/_user-zone.scss */
  .userzone__item:nth-child(2n+1) {
    margin-right: 3rem;
  }
  /* line 54, ../scss/components/_user-zone.scss */
  .userzone__lastitem {
    display: block;
    width: 48%;
  }
}
/* line 1, ../scss/molecules/_header.scss */
.header {
  background: #002534;
  background-size: cover;
  height: 4.5rem;
  left: 0;
  padding: 0 1.5rem;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}
/* line 11, ../scss/molecules/_header.scss */
.header__logo {
  align-items: center;
  display: flex;
  margin-top: .6rem;
  z-index: -9;
}
/* line 17, ../scss/molecules/_header.scss */
.header__img {
  display: none;
  margin-bottom: 2rem;
}
/* line 21, ../scss/molecules/_header.scss */
.header__lateralmenu {
  background: #002534;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 33, ../scss/molecules/_header.scss */
.header__mainmenu {
  height: 10rem;
}
/* line 36, ../scss/molecules/_header.scss */
.header a, .header picture {
  display: block;
}
/* line 38, ../scss/molecules/_header.scss */
.header a:hover, .header picture:hover {
  opacity: 0.7;
}
/* line 43, ../scss/molecules/_header.scss */
.header .icon-menu::before {
  font-size: 1.7rem;
}
/* line 47, ../scss/molecules/_header.scss */
.header__network {
  align-items: center;
  background-color: #003247;
  display: flex;
  height: 6.3rem;
  justify-content: center;
}
/* line 53, ../scss/molecules/_header.scss */
.header__network .icon {
  height: 30px;
  font-size: 30px;
  margin: 0 1.4rem;
  width: 30px;
}

/* line 61, ../scss/molecules/_header.scss */
.navbar-brand, .sr-only {
  display: none;
}

/* line 63, ../scss/molecules/_header.scss */
.navbar-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  height: 4.8rem;
  margin: 0;
  padding: 4px;
  position: relative;
  width: 4.8rem;
  outline: none;
}
/* line 74, ../scss/molecules/_header.scss */
.navbar-toggle .icon-close {
  display: none;
  z-index: 9;
}
/* line 78, ../scss/molecules/_header.scss */
.navbar-toggle.active {
  border-radius: inherit;
  padding: 0;
}
/* line 82, ../scss/molecules/_header.scss */
.navbar-toggle.active .icon-hamburguer {
  display: none;
}
/* line 85, ../scss/molecules/_header.scss */
.navbar-toggle.active .icon-close {
  display: flex;
}

/* line 91, ../scss/molecules/_header.scss */
.close {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 24px;
  font-weight: 900;
  color: #d0112b;
  border: 4px solid #d0112b;
  padding: 2px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 29px;
}

/* line 107, ../scss/molecules/_header.scss */
.collapse {
  visibility: hidden;
}

/* line 109, ../scss/molecules/_header.scss */
.open {
  opacity: 1;
  visibility: visible;
}

/* line 114, ../scss/molecules/_header.scss */
ul {
  margin: 0;
  padding: 5rem 0 0 0;
}

/* line 119, ../scss/molecules/_header.scss */
.navbar li {
  text-align: left;
  display: block;
  min-height: 2.9rem;
  line-height: 5rem;
  margin-left: 4.7rem;
  position: relative;
}
/* line 126, ../scss/molecules/_header.scss */
.navbar li p {
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
/* line 134, ../scss/molecules/_header.scss */
.navbar li ul li:last-child a {
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
/* line 143, ../scss/molecules/_header.scss */
.navbar li:hover::before {
  content: '';
  border-radius: 50%;
  display: block;
  height: 2.3rem;
  left: -1.1rem;
  position: absolute;
  top: 1.2rem;
  width: 2.3rem;
}
/* line 155, ../scss/molecules/_header.scss */
.navbar li:hover a::before {
  display: none;
}
/* line 160, ../scss/molecules/_header.scss */
.navbar li a, .navbar li a:visited {
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  margin-bottom: 0.8rem;
  position: relative;
  text-decoration: none;
}
/* line 169, ../scss/molecules/_header.scss */
.navbar li a.header__logomobile, .navbar li a:visited.header__logomobile {
  margin-bottom: 2rem;
}

/* line 175, ../scss/molecules/_header.scss */
.header__last {
  color: #26A0C4;
  display: flex !important;
  margin-top: 4rem;
}
/* line 179, ../scss/molecules/_header.scss */
.header__last a {
  color: #26A0C4 !important;
  font-family: "Lexend", sans-serif;
  font-size: 1.8rem !important;
  font-weight: 600 !important;
}
/* line 185, ../scss/molecules/_header.scss */
.header__last span {
  color: #26A0C4 !important;
  font-size: 2rem;
  margin-right: 1rem;
}

/* line 191, ../scss/molecules/_header.scss */
.header {
  z-index: 9999;
}
/* line 193, ../scss/molecules/_header.scss */
.header .icon {
  align-items: center;
  color: #ffffff;
  font-family: "iconFont";
  justify-content: center;
}
/* line 199, ../scss/molecules/_header.scss */
.header .icon.icon-close {
  height: 4.8rem;
  position: absolute;
  right: -0.3rem;
  top: 1.1rem;
  width: 4.8rem;
}

@media (min-width: 413px) {
  /* line 209, ../scss/molecules/_header.scss */
  .navbar-icon {
    margin-right: 3%;
    margin-top: 78%;
  }

  /* line 213, ../scss/molecules/_header.scss */
  .header {
    height: 17.5rem;
  }
  /* line 216, ../scss/molecules/_header.scss */
  .header .icon.icon-close {
    top: 0.1rem;
    right: 1.7rem;
  }
}
@media (min-width: 540px) {
  /* line 224, ../scss/molecules/_header.scss */
  .header {
    background-size: contain;
  }
  /* line 226, ../scss/molecules/_header.scss */
  .header__lateralmenu {
    display: block;
  }
}
@media (min-width: 645px) {
  /* line 233, ../scss/molecules/_header.scss */
  .navbar-icon {
    margin-right: 17%;
    margin-top: 130%;
  }

  /* line 239, ../scss/molecules/_header.scss */
  .header .icon.icon-close {
    top: -2.9rem;
    right: 1.7rem;
  }
}
@media (min-width: 720px) {
  /* line 247, ../scss/molecules/_header.scss */
  .navbar-icon {
    margin-top: 150%;
  }
}
@media (min-width: 960px) {
  /* line 252, ../scss/molecules/_header.scss */
  .header {
    height: 7rem;
    padding: 0 3rem;
  }
  /* line 255, ../scss/molecules/_header.scss */
  .header__img {
    display: block;
    transition: .5s;
  }
  /* line 259, ../scss/molecules/_header.scss */
  .header__logo {
    margin-top: .5rem;
  }
  /* line 261, ../scss/molecules/_header.scss */
  .header__logo img {
    height: auto;
    width: 80%;
  }
  /* line 266, ../scss/molecules/_header.scss */
  .header__lateralmenu {
    display: flex;
    height: 408px;
  }
  /* line 270, ../scss/molecules/_header.scss */
  .header__mainmenu {
    height: 150px;
    overflow: hidden;
    transition: height 1s ease;
  }
  /* line 275, ../scss/molecules/_header.scss */
  .header .openmenu {
    height: 746px;
    transition: height .8s ease;
  }
  /* line 280, ../scss/molecules/_header.scss */
  .header .icon.icon-close {
    font-size: 2rem;
    right: -3px;
    top: 26px;
  }
  /* line 286, ../scss/molecules/_header.scss */
  .header__network {
    background: transparent;
    justify-content: left;
    padding: 0 13rem 3rem;
  }

  /* line 292, ../scss/molecules/_header.scss */
  .navbar-toggle {
    height: 5.4rem;
    width: 5.4rem;
  }
  /* line 295, ../scss/molecules/_header.scss */
  .navbar-toggle.active {
    height: 5.4rem;
    width: 5.4rem;
    z-index: inherit;
  }
  /* line 300, ../scss/molecules/_header.scss */
  .navbar-toggle::after {
    height: 5.4rem;
    width: 5.4rem;
  }

  /* line 305, ../scss/molecules/_header.scss */
  .navbar-icon {
    margin-right: 7%;
    margin-top: 5%;
  }

  /* line 309, ../scss/molecules/_header.scss */
  .navbar {
    margin: 5.2rem 4.7rem 0;
    width: 100%;
  }

  /* line 313, ../scss/molecules/_header.scss */
  .navbar li {
    margin-left: 10.5rem;
    margin-bottom: 1.4rem;
  }
  /* line 316, ../scss/molecules/_header.scss */
  .navbar li:first-child {
    margin-bottom: 0;
  }
  /* line 319, ../scss/molecules/_header.scss */
  .navbar li a, .navbar li a:visited {
    margin-bottom: 1.3rem;
  }
  /* line 322, ../scss/molecules/_header.scss */
  .navbar li a.header__logomobile, .navbar li a:visited.header__logomobile {
    margin-bottom: 4rem;
  }

  /* line 327, ../scss/molecules/_header.scss */
  ul {
    padding: 4.3rem 0 0 0;
  }
}
